.bi-briefcase{
    color: rgb(255, 99, 187);
    font-size: 30px;
    padding: 20px;
    margin-left: 300px;;
    background-color: rgb(253, 223, 243);
    background-size: 90px;
    border-radius: 16px;

}
.number{
    font-size: 50px;
    margin: 30px 300px 15px;
}
.total{
    color: rgb(146, 145, 145);
    font-size: 20PX;
    margin: 0px 300px 15px;
}
.Percent{
    color: red;
    margin-left: 310px;
}
.last{
    color: rgb(98, 98, 98);
    margin-left: 310px;

}